@charset "UTF-8";
header {
	background-color:#E9F4FF;
}

#main {
	background-color:#E9F4FF;
}

footer {
	background-color: #003171;
}

.container-flex {
  display: flex; /* Makes the container a flex container */
  flex-direction: row; /* Arranges items horizontally (default) */
  /* Optional: Add more properties for alignment and spacing */
  justify-content: space-evenly; /* Distributes space around items */
  align-items: center; /* Aligns items vertically in the center */
}







.logotype_title {
	font:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

